<footer>
    <div class="wrapper footer">
        <ul>
            <li class="links">
                <ul>
                    <li><a href="#">Арендовать</a></li>
                    <li><a href="#">Купить</a></li>
                    <li><a href="#">Узнать о акциях</a></li>
                    <li><a href="#">Продать свое жилье</a></li>
                </ul>
            </li>

            <li class="links">
                <ul>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#"> Волчков Александр :</a></li>
                    <li><a href="#"> Ороховатский Илья :</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </li>

            <li class="links">
                <ul>
                    <li><a href="#">Номер</a></li>
                    <li><a href="#"> +79200000000</a></li>
                    <li><a href="#"> +79200000001</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="copyrights wrapper">
        @Volchkov,Orochovatsky 2020
    </div>
</footer><!--  end footer  -->
