<footer>
    <div class="wrapper footer">
        <ul>
            <li class="links">
                <ul>
                    <li><a routerLink="">Арендовать</a></li>
                    <li><a routerLink="">Купить</a></li>
                    <li><a routerLink="**">Узнать о акциях</a></li>
                    <li><a routerLink="/Sell">Продать свое жилье</a></li>
                </ul>
            </li>

            <li class="links">
                <ul>
                    <li><a>Контакты</a></li>
                    <li><a href="https://vk.com/sanya323" target="_blank"> Волчков Александр : +79200000000</a></li>
                    <li><a href="https://vk.com/dangerous_orex" target="_blank"> Ороховатский Илья : +79200000001</a></li>
                    <li><a routerLink="#"></a></li>
                </ul>
            </li>

            <li class="links">
                <ul>
                    <li><a routerLink="">Главная</a></li>
                    <li><a routerLink="/Feedback"> Обратная связь</a></li>
                    <li><a routerLink="#"> </a></li>
                    <li><a routerLink="#"></a></li>
                </ul>
            </li>
            
        </ul>
    </div>

    <div class="copyrights wrapper">
        @Volchkov,Orochovatsky 2020
    </div>
    </footer><!--  end footer  -->
