<section class="Feedback"> <!-- // Общая фотография  -->
<li></li><!-- Надо убрать как-то -->
    
    <!--  Контент для связи:  -->
 
    <div class="cover">
        <h3></h3>
        <form id="contactform"> 
            <p class="contact"><label for="name">ФИО</label></p> 
            <input id="name" name="name" placeholder="ФИО" required="" tabindex="1" type="text"> 
     
            <p class="contact"><label for="email">Email</label></p>     
            <input id="email" name="email" placeholder="example@gmail.com" required="" tabindex="2" type="text"> 
            
     
            <p class="contact"><label for="Subject">Ваш дом</label></p> 
            <input id="subject" name="subject" placeholder="Домик у моря" required=" " tabindex="2" type="text"> 
     
            <p class="contact"><label for="comment">Объявление</label></p> 
            <textarea name="comment" id="comment" tabindex="4"></textarea> <br>
            <input name="submit" id="submit" tabindex="5" value="Отправить" type="submit"> 	 
        </form> 
        <h3></h3>
    </div>

<app-foter></app-foter>
    </section>