<section class="NewPageForSale"> <!-- // Общая фотография  -->

<li>
        <section class="caption">
            <h2 class="caption">Вилла номер X
            </h2>
            <h3 class="properties">2 ванные комнаты , 3 Спальни, 2 кухни </h3>
        </section>
</li>

</section><!--  end hero section  -->

<!--  Контент данного жилья:  -->
<section class="NewPageForSaleContent">

        <ul class="properties_list">
            <li>
                <a routerLink="/5">
                    <img src="assets/img/property_1.jpg" alt="" title="Есть в наличии, щелкните для детального просмотра" class="property_img"/>
                </a>
                <div class="property_details">
                    <h1>
                        <a routerLink="/5">Раскошная спалья</a>
                    </h1>
                    <h2>Шелковое белье и множество аромо-свеч <span class="property_size"></span></h2>
                </div>
            </li>
            <li>
                <a routerLink="/5">
                    <img src="assets/img/bathroom1.jpg" alt="" title="" class="property_img"/>
                </a>
                <div class="property_details">
                    <h1>
                        <a href="#">Душевая кабина с массажем </a>
                    </h1>
                    <h2>Наполнители для ванны <span class="property_size"></span></h2>
                </div>
            </li>
            <li>
                
                    <a routerLink="/5">
                        <img src="assets/img/bathroom2.jpg" alt="" title="Есть в наличии, щелкните для детального просмотра" class="property_img"/>
                    </a>
                    <div class="property_details">
                        <h1>
                            <a routerLink="/5">Просторная душевая и большая раковина</a>
                        </h1>
                        <h2>Материалы: камень,мрамор,дуб <span class="property_size"></span></h2>
                    </div>
                

                <li>
                    <a routerLink="/5">
                        <img src="assets/img/property_1.jpg" alt="" title="Есть в наличии, щелкните для детального просмотра" class="property_img"/>
                    </a>
                    <div class="property_details">
                        <h1>
                            <a routerLink="/5">Вилла на море с видом на замок</a>
                        </h1>
                        <h2>2 кухни, 3 спальни, 3 туалета... <span class="property_size"></span></h2>
                    </div>
                </li>
                <li>
                    <a routerLink="/5">
                        <img src="assets/img/property_2.jpg" alt="" title="" class="property_img"/>
                    </a>
                    <div class="property_details">
                        <h1>
                            <a href="#">Fuisque dictum tortor at purus libero</a>
                        </h1>
                        <h2>2 кухни, 2 спальни, 2 туалета... <span class="property_size"></span></h2>
                    </div>
                </li>
                <li>
                    <a routerLink="/5">
                        <img src="assets/img/property_3.jpg" alt="" title="" class="property_img"/>
                    </a>
    
                    <div class="property_details">
                        <h1>
                            <a href="#">Fuisque dictum tortor at purus libero</a>
                        </h1>
                        <h2>2 кухни, 2 спальни, 2 туалета... <span class="property_size"></span></h2>
                    </div>
        </ul>
</section>
<footer>
    <div class="wrapper footer">
        <ul>
            <li class="links">
                <ul>
                    <li><a href="#">Арендовать</a></li>
                    <li><a href="#">Купить</a></li>
                    <li><a href="#">Узнать о акциях</a></li>
                    <li><a href="#">Продать свое жилье</a></li>
                </ul>
            </li>

            <li class="links">
                <ul>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#"> Волчков Александр : +79200000000</a></li>
                    <li><a href="#"> Ороховатский Илья : +79200000001</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </li>

            <li class="links">
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#"> </a></li>
                    <li><a href="#"> </a></li>
                    <li><a href="#"></a></li>
                </ul>
            </li>
            
        </ul>
    </div>

    <div class="copyrights wrapper">
        @Volchkov,Orochovatsky 2020
    </div>
    </footer>
