<section class="hero">
    <div   class= "Fill">
        <header>
         
            <div class="wrapper">
             
                <a href="#" class="hamburger"></a>
                
    
                <nav>
                    <ul>
                        <li><div class="logo2"></div></li>

                        <li><a class="a" href="#" >Купить</a></li> 

                        <li><a class="a" href="#" >Арендовать</a></li>
    
                        <li><a class="a" href="#" >Продать</a></li>
    
                        <li><a class="a" href="#" >Контакты</a></li>
    
                        <li><a class="a" href="#" >Обратная cвязь</a></li>
                    </ul>
                </nav>
            </div>
            <div>
                
              </div>
        </header><!--  end header section  -->
    
            <section class="caption">
                <h2 class="caption">Find You Dream Home</h2>
                <h3 class="properties">Аппартаменты - Дома - Особняки</h3>
            </section>
        </div>  
    </section><!--  end hero section  -->
    



<section class="listings">
    <div class="wrapper">
        <ul class="properties_list">
            <li>
                <a routerLink="/Home#1" target="_blank">
                    <img src="assets/img/Villa1.jpg" alt="" title="Есть в наличии, щелкните для детального просмотра" class="property_img"/>
                </a>
                <div class="ribbon">
                <span class="price">SALE</span>
                </div>
                <span class="price">RUB 150 000</span>
                <div class="property_details">
                    <h1>
                        <a href="/5">Вилла на море с видом на замок</a>
                    </h1>
                    <h2>2 кухни, 3 спальни, 3 туалета... <span class="property_size"></span></h2>
                </div>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/property_2.jpg" alt="" title="Есть в наличии, щелкните для детального просмотра" class="property_img"/>
                </a>
                <div class="ribbon">
                    <span class="price">SALE</span>
                    </div>
                <span class="price">RUB 50 000</span>
                <div class="property_details">
                    <h1>
                        <a href="#">Осенний домик</a>
                    </h1>
                    <h2>2 кухни, 2 спальни, 2 туалета... <span class="property_size"></span></h2>
                </div>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/property_3.jpg" alt="" title="" class="property_img"/>
                </a>
                <div class="ribbon">
                    <span class="price">SALE</span>
                    </div>
                <span class="price">RUB 30 000</span>
                <div class="property_details">
                    <h1>
                        <a href="#">Fuisque dictum tortor at purus libero</a>
                    </h1>
                    <h2>2 кухни, 2 спальни, 2 туалета... <span class="property_size"></span></h2>
                </div>
            </li>
        </ul>
        </div>
</section>	<!--  end listing section  -->



<!-- FOOTER -->
        <footer>
            <div class="wrapper footer">
                <ul>
                    <li class="links">
                        <ul>
                            <li><a href="#">Арендовать</a></li>
                            <li><a href="#">Купить</a></li>
                            <li><a href="#">Узнать о акциях</a></li>
                            <li><a href="#">Продать свое жилье</a></li>
                        </ul>
                    </li>
        
                    <li class="links">
                        <ul>
                            <li><a href="#">Контакты</a></li>
                            <li><a href="#"> Волчков Александр : +79200000000</a></li>
                            <li><a href="#"> Ороховатский Илья : +79200000001</a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </li>
        
                    <li class="links">
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li><a href="#"> </a></li>
                            <li><a href="#"> </a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        
            <div class="copyrights wrapper">
                @Volchkov,Orochovatsky 2020
            </div>
            </footer>
        
