<footer>
    <div class="wrapper footer">
        <ul>
            <li class="links">
                <ul>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Поддержка</a></li>
                    <li><a href="#">Политика</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </li>

            <li class="links">
                <ul>
                    <li><a href="#">Апартаменты</a></li>
                    <li><a href="#">Дома</a></li>
                    <li><a href="#">Виллы</a></li>
                    <li><a href="#">Особняки</a></li>
                </ul>
            </li>

            <li class="links">
                <ul>
                    <li><a href="#">New York</a></li>
                    <li><a href="#">Los Angeles</a></li>
                    <li><a href="#">Maiami</a></li>
                    <li><a href="#">Washington</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="copyrights wrapper">
        Спасибо за ваше внимание
    </div>
</footer><!--  end footer  -->